.SignUp{
    width: 500px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 10px;
    margin: 100px auto;
}

h1{
    text-align: center;
    color: blue;
}

.SignUpButton{
    margin: 0 auto;
}