.ProductsPage{
    padding: 20px;
    display: flex;
}

.CategoryFilters{
    width: 20%;
    padding: 20px;
    margin: 5px 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 10px;
}

.CategoryFilters input{
    border-radius: 5px;
    border: 2px solid steelblue;
    height: 20px;
    padding: 5px;
    font-size: 16px;
}

.CategoryFilters input:focus{
    outline: none !important;
    background-color: aqua;
}
.Products{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}



